html, body {
  height: 100%;
  min-height: 100%;
}
     
body {
  font: 80px 'Special Elite', cursive;
  color: rgba(0, 0, 0, 1);
  background-color: white;
}
     
.wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
     
.wrapper div {
  padding: 40px;
}

.card {
  display: block;
  text-align: center;
}